<h1>Hello World!</h1>

<p class="text-primary"><%= link_to("Home Page", 'demo/home') %></p>

<br>

<%# Home page with params %>
<p><%= link_to("Home Page with Params", :action => 'home', :id => '21', :page => '6') %></p>

<br>

<%# Link to About Us %>
<p><%= link_to("About Us", 'demo/about') %></p>
<br>

<%# Link to Contact us %>
<p><%= link_to("Contact Us", 'demo/contact') %></p>
<br>

<p><%= link_to("All Subjects", subjects_path)%></p>

<p><%= link_to("All Pages", pages_path) %></p>