<%= link_to("<< Back to List", pages_path, :class => 'back-link') %>

<div class="delete page">
  <h2>Delete Page</h2>

  <%= form_for(@delete_page) do |f| %>
    <%# <%= form_for(@delete_page, :method => 'delete') do |f| %> %>
    <%# :url and :method can be left out and Rails would still know what to do with the newly
    # created object.%>
    <table>
    <tr>
    <th>Page Name: </th>
    <td><%=@delete_page.name%></td>
    </tr>
    </table>
    <p>Are you sure you want to delete this page?</p>


    <div class="form-buttons">
      <%= f.submit("Delete Page") %>
    </div>

  <% end %>
</div>
